[submodule "digikey-kicad-library"]
	path = digikey-kicad-library
	url = https://github.com/Digi-Key/digikey-kicad-library
[submodule "Keyboard.pretty"]
	path = Keyboard.pretty
	url = https://github.com/stormbard/Keyboard.pretty
